
// parallax
.all-wrapper {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:$white;
  position:absolute;
  width:100vh;
  height:100vw;
} 
 
.parallax-container {
  overflow: hidden;
  background: $white;
  padding-right: 10vh;
  transform-origin: top left;
  white-space:nowrap;
} 

.image-container {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
  transform: rotate(90deg) translateX(-100px);
}

.overlay {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
}

.parallax-img {
  width: 60%;
  margin-bottom: 10vh;
  @include media("<=tablet") {
    max-width: 80%;
  }
  @include media("<=phone") {
    max-width: 100%;
  }
}

//parallax overlay transition
.see-all-overlay {
  .parallax-overlay {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    width: 100vw;
    z-index: 8;
    .overlay-transition {
      height: 100vh;
      width: 100vw;
      background: $black;
    }
  }
}
 
.container-scrolldown {
  margin-left: 50%;
  background-color: #91D9CC;
  margin-top: -9vh;
  border-radius: 100px;
  display: flex;
  width: 150px;
  height: 150px;
  border: solid 2px #91D9CC;
  justify-content: center;
  @include media("<=phone") {
    visibility: hidden;;
  }
  @include media("<=tablet") {
    visibility: hidden;
  }
}

.message {
  padding: 60px;
  font-size: 18px;
  color: #0D0D0D;
  font-weight: lighter;
  letter-spacing: 1px;
}

.test-container {
  height: 100%;
  // max-width: 600px;
  // margin: 0 auto;
  padding-top: 22vh;
  padding-bottom: 10vh;
}
