
// Images Container
.wrapper {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:$white;
  position:absolute;
  width:100vh;
  height:100vw;
} 
 
.sub-container {
  background: $white;
  padding-right: 10vh;
  transform-origin: top left;
  white-space:nowrap;
  position: relative;
} 

.image-container {
  position: relative;
  margin-bottom: 150px;
  transform: rotate(90deg) translateX(-100px);
}

.content {
  width: 60%;
  margin-left: 35rem;
  margin-bottom: 60px;

  @include media("<=tablet") {
    max-width: 80%;
  }
  @include media("<=phone") {
    max-width: 100%;
  }
}

// overlay transition
.see-all-overlay {
  .parallax-overlay {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    width: 100vw;
    z-index: 8;
    .overlay-transition {
      height: 100vh;
      width: 100vw;
      // background: $black;
    }
  }
}
 
// Info scroll div
.container-scrolldown {
  margin-left: 50%;
  background-color: #91D9CC;
  margin-top: -9vh;
  border-radius: 100px;
  display: flex;
  width: 150px;
  height: 150px;
  border: solid 2px #91D9CC;
  justify-content: center;
  @include media("<=phone") {
    visibility: hidden;;
  }
  @include media("<=tablet") {
    visibility: hidden;
  }
}

.message {
  padding: 60px;
  font-size: 18px;
  color: #0D0D0D;
  font-weight: lighter;
  letter-spacing: 1px;
}


