
// parallax
.all-wrapper {
  // height: 100vh;
  // width: 100vw;
  // background: $white;

  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:$white;
  position:absolute;
  width:100vh;
  height:100vw;
} 

.parallax-container {
  overflow: hidden;
  background: $white;
  // margin: 0 auto;
  // perspective: 1200px;
  padding-right: 10vh;
  // justify-content: center;
  // text-align: center;

  // transform-origin: top left;
  // white-space:nowrap;
}

.image-container {
  position: relative;
  margin-bottom: 50px;
  z-index: 2;
  // transform: translateY(0);
  transform: rotate(90deg) translateX(50%);
}

.overlay {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
}

.parallax-img {
  width: 60%;
  transform: translateZ(0);
  @include media("<=tablet") {
    max-width: 80%;
  }
  @include media("<=phone") {
    max-width: 100%;
  }
}

//parallax overlay transition
.see-all-overlay {
  .parallax-overlay {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    // top: 0;
    width: 100vw;
    z-index: 8;
    .overlay-transition {
      // position: absolute;
      height: 100vh;
      width: 100vw;
      background: $black;
      // top: 0;
      // top: 0%;
    }
  }
}

